<span></span>
<h1>{{operacionEntrada}}</h1>
  <div class="cabecera">
    <button (click)="borrarTodo()" class="C" > C </button>
    <button (click)="borrarElemento()" class="X"> X </button>
  </div>

  <div class="grillo">
    <button (click)="ingresarNumero('9')" > % </button>
    <button (click)="ingresarNumero('')" > ^ </button>
    <button (click)="ingresarNumero('')" > # </button>
    <button (click)="ingresarSimbolo('/')" > / </button>
    <button (click)="ingresarNumero('7')" > 7 </button>
    <button (click)="ingresarNumero('8')" > 8 </button>
    <button (click)="ingresarNumero('9')" > 9 </button>
    <button (click)="ingresarSimbolo('*')" > * </button>
    <button (click)="ingresarNumero('4')" > 4 </button>
    <button (click)="ingresarNumero('5')" > 5 </button>
    <button (click)="ingresarNumero('6')" > 6 </button>
    <button (click)="ingresarSimbolo('-')" > - </button>
    <button (click)="ingresarNumero('1')" > 1 </button>
    <button (click)="ingresarNumero('2')" > 2 </button>
    <button (click)="ingresarNumero('3')" > 3 </button>
    <button (click)="ingresarSimbolo('+')" > + </button>
    <button (click)="ingresarNumero('0')" > 0 </button>
    <button (click)="ingresarPunto('.')" > . </button>
    <button (click)="ingresarNumero('')" > () </button>
    <button (click)="igual()" > = </button>
    <audio #ref src="./assets/nastypaty.mp3"></audio>
    <button (click)="ref.play()">💩</button>


</div>

<h2>{{resultado}}</h2>
<h2>{{lastChar}}</h2>
