.cabecera{
    display:grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 60px;
}
.grillo {
    display:grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
}

.X {
  color: red;
}

.C {
  color: blue;
}
