
<h1>{{operacionEntrada}}</h1>
<button (click)="ingresarElemento('1')" > 1 </button>
<button (click)="ingresarElemento('2')" > 2 </button>
<button (click)="ingresarElemento('3')" > 3 </button>
<button (click)="ingresarElemento('+')" > + </button>
<button (click)="ingresarElemento('-')" > - </button>
<button (click)="ingresarElemento('*')" > * </button>
<button (click)="ingresarElemento('/')" > / </button>
<button (click)="borrarElemento()" > BORRAR </button><br>
<button (click)="ingresarElemento('4')" > 4 </button>
<button (click)="ingresarElemento('5')" > 5 </button>
<button (click)="ingresarElemento('6')" > 6 </button><br>
<button (click)="ingresarElemento('7')" > 7 </button>
<button (click)="ingresarElemento('8')" > 8 </button>
<button (click)="ingresarElemento('9')" > 9 </button><br>
<button (click)="ingresarElemento('.')" > .. </button>
<button (click)="ingresarElemento('0')" > 0 </button>


<h2>{{resultado}}</h2>
